license.hclic
.env
.DS_Store

#Terraform files
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
vault_ssh_key.pem
terraform.tfvars

#General
vault_ssh_key
/aws_kms

#tfe-vault
/tfe-vault/.terraform.lock.hcl
/tfe-vault/terraform.tfstate
/tfe-vault/terraform.tstate.backup
/tfe-vault/terraformtfvars
/tfe-vault/terraformtfvars/.gitignore

#tfe-vault-infra-trust
/tfe-vault-infra-trust/1.trust/.terraform
/tfe-vault-infra-trust/1.trust/.terraform.lock.hcl
/tfe-vault-infra-trust/1.trust/terraform.tfstate
/tfe-vault-infra-trust/1.trust/terraform.tfstate.backup
/tfe-vault-infra-trust/1.trust/terraform.tfvars
/tfe-vault-infra-trust/1.trust/.gitignore

/tfe-vault-infra-trust/2.infra/terraform.tfvars
/tfe-vault-infra-trust/2.infra/.terraform
/tfe-vault-infra-trust/2.infra/.terraform.lock.hcl
/tfe-vault-infra-trust/2.infra/.gitignore